body {
    color: #caa;
    background-color: #888490;
}

.skin {
    background-color: rgba(0,0,0,0.8);
}

pre,code {
    background-color: rgba(0,0,0,0.33);
}

a {
    color: #abb;
}

a:hover {
    color: #0ff;
}

hr {
    color: #caa;
    background-color: #caa;
}