body {
    color: #caa;
    background-color: #888490;
}

.skin {
    background-color: rgba(0,0,0,0.75);
}

pre,code {
    background-color: rgba(0,0,0,0.33);
}

a {
    color: #a98f00;
}

a:hover {
    color: #f0f;
}