@media screen and (max-width: 479px) {
    h1 a::after { 
        font-family: "tv1";
        font-weight: normal;
        content: "\E809";
        font-size: 28px;
    }
}

@media screen and (min-width: 480px) and (max-width: 751px) {
    h1 a::after { 
        font-family: "tv1";
        font-weight: normal;
        content: "\E80A";
        font-size: 46px;
    }
}


@media screen and (min-width: 752px) {
    h1 a::after {
       content: "The Blue Screen of Death";
       font-size: 78px;
       font-weight: 400;
       font-style: italic;
    }
}

body {
    font-size: 16px;
    font-family: "Source Sans Pro", "Open Sans", "Verdana", "Segoe UI", "Helvetica Neue", "Tahoma", "Lucida Grande", sans-serif;
    line-height: 1.5em;
    margin: 0px;
}

.skin {
    min-height: 100vh;
}

.torso {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding:16px;
    position:relative;
}

h1>a,h2>a {
    text-decoration: none;
}

h1,h2,h3,h4,time {
   font-family: "Alegreya", "Georgia", "Times New Roman", serif;
}

time {
    font-style: italic;
}

hr {
    text-align: center;
    border: 0;
    color:inherit;
}

hr::after {
    font-family: tv1;
    font-size: 24px;
    content: "\E806";
}

pre {
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

code {
    padding-left: 3px;
    padding-right: 3px;
}

table {
    border: none;
}

td {
    padding-left: 20px;
}

main {
    display: block;
}

nav {
    display: block;
    font-size:24px;
}

nav a {
    margin-right: 12px;
}

footer {
    font-size: 14px;
    margin-top: 50px;
}

footer hr {
    height: 1px;
}

footer hr::after {
    content: none;
}

article {
    margin: 10px 0px 50px 0px;
}

article .entry {
    padding: 10px 0px;
}

article .entry img {
    display: block;
    margin: 15px auto;
    max-width: 100%;
}

article header h2 {
    margin-bottom: 3px;
}

.more {
    display: block;
    text-align: right;
}

.color-toggle {
    position: absolute;
    right: 8px;
}

#paginator {
    font-size: 24px;
}

.xmirror::before {
    transform: scale(-1, 1);
}

.comments {
    text-align: right;
}

.commentcount {
    font-size: 24px;
    font-style: italic;
    text-decoration: none;
}

.commentcount::after {
    font-family: "tv1";
    content: "\E808"
}

#commentloader a {
    padding: 8px;
    display: block;
    border: 1px dashed;
}