<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

        <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello.css">
        <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/animation.css">
        <link rel="stylesheet" href="{{site.baseurl}}/resources/font-awesome/css/font-awesome.min.css">
        <!--[if IE 7]><link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello-ie7.css"><![endif]-->
    </head>

    <body {% assign stylehtmlpre = ' ' %}
    {% assign imageurl = ' ' %}
    {% assign stylehtmlpost = ' ' %}
    {% for post in site.posts %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}
            {% assign html = image | split:"/>" | first %}
            {% assign imageurl = html | split:'src="' | last %}
            {% assign imageurl = imageurl | split:'"' | first %}
            {% assign stylehtmlpre = 'style="background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)) repeat scroll 0% 0%, transparent url(' %}
            {% assign stylehtmlpost = ') no-repeat fixed right top / cover;"' %}
            {% break %}
        {% endif %}
      {% endfor %}
  {% endfor %}
  {{ stylehtmlpre }}{{ imageurl }}{{ stylehtmlpost }} >
        <header>
            <h1><a href="{{site.baseurl}}/">{{ site.name }}</a></h1>
                <h4>{{ site.description }}</h4>
        </header>

        <nav>
            <ul>
                <li><i class="icon-home"></i>&nbsp; <a href="{{site.baseurl}}/">Home</a></li>
                <li><i class="icon-mail"></i>&nbsp; <a href="{{site.baseurl}}/contact">Contact</a></li>
                <li><i class="icon-th"></i>&nbsp;   <a href="{{site.baseurl}}/archive">Archive</a></li>
                <li><i class="icon-rss"></i>&nbsp;  <a href="{{site.baseurl}}/feed.xml">RSS Feed</a></li>
            </ul>
        </nav>

        <main>

            {{ content }}

        </main>

        <footer>
            <hr />
            <p>&copy; <time>2015</time> {{ site.author }}</p>
        </footer>

        <script src="{{site.baseurl}}/scripts.js"></script>
    </body>

</html>
