<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link id="pagestyle" rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <link id="colorstyle" rel="stylesheet" href="{{site.baseurl}}/colordark.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" />
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

        <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/tv1.css">
        <!--[if IE 7]><link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/tv1-ie7.css"><![endif]-->
        <script>
            var lightSheet = "{{site.baseurl}}/colorlight.css";
            var darkSheet = "{{site.baseurl}}/colordark.css";
        </script>
        <script src="{{site.baseurl}}/scripts.js"></script>
    </head>

    <body {% assign stylehtmlpre = ' ' %}
    {% assign imageurl = ' ' %}
    {% assign stylehtmlpost = ' ' %}
    {% for post in site.posts %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}
            {% assign html = image | split:"/>" | first %}
            {% assign imageurl = html | split:'src="' | last %}
            {% assign imageurl = imageurl | split:'"' | first %}
            {% assign stylehtmlpre = 'style="background: url(' %}
            {% assign stylehtmlpost = ') no-repeat fixed right top / cover;"' %}
            {% break %}
        {% endif %}
      {% endfor %}
      {% if imageurl != ' ' %}
        {% break %}
      {% endif %}
  {% endfor %}
  {{ stylehtmlpre }}{{ imageurl }}{{ stylehtmlpost }} >
    <div class="skin">
    <div class="torso">
        <header>
            <h1><a href="{{site.baseurl}}/">{{ site.name }}</a></h1>
                <h4>{{ site.description }}</h4>
        </header>

        <nav>
                <a href="{{site.baseurl}}/" title="Home"><i class="icon-home"></i></a>
                <a href="{{site.baseurl}}/archive" title="Archive"><i class="icon-archive"></i></a>
                <a href="{{site.baseurl}}/" title="RSS Feed"><i class="icon-rss"></i></a>
                <a href="http://twitter.com/{{site.author_twitter}}" title="meanyhead on Twitter"><i class="icon-twitter"></i></a>
                <a href="mailto:{{site.author_email}}" title="{{site.author_email}}"><i class="icon-mail"></i></a>
        </nav>

        <main>

            {{ content }}

        </main>

        <footer>
            <hr />
            <p>&copy; <time>{{ site.time | date: '%Y' }}</time> {{ site.author }}</p>
        </footer>

        <a href="#" onclick="swapColorSheet(); return false;" class="color-toggle" title="Day / Night"><i class="icon-color-adjust"></i></a>

    </div>
    </div>
    </body>

</html>
